#links {
    text-align: center;
    display: block;
}

.vertical {
    height:900px; /* you might need some positioning for this to work, see other questions about 100% height */
    width:0;
    border:1px solid black;
}

.container{
    background-color: papayawhip
}