h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style{
   color: rgb(216, 14, 14);
   text-align: center;
   list-style-type: upper-roman;
}

.p-style{
   text-align: right;
   color: palevioletred;
}